/* 🌍 Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* keep layout stable but hide bar */
}